# Quran Foundation OAuth2
OAUTH_BASE=https://prelive-oauth2.quran.foundation
CLIENT_ID=3feed514-19b4-4f8c-afb5-233a820e5f53
CLIENT_SECRET=ilO57UrdkF8XFz2IhtSv-JvwnL

# Quran Foundation API base (use prelive for testing)
QURAN_API_BASE=https://apis-prelive.quran.foundation
